PORT=3000
DBHOST=localhost
DBUSER=student
DBPASSWORD=student
DBNAME=Culletons
DBPORT=3306
PLAID_CLIENT_ID=
PLAID_SECRET=
PLAID_PUBLIC_KEY=
FIREBASE_databaseURL=
FIREBASE_project_id=
FIREBASE_private_key=""
FIREBASE_client_email=